# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env

# SQLite database
*.db
*.sqlite3

# Flask stuff
instance/
*.log

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python packaging
*.egg
*.egg-info/
dist/
build/
eggs/
*.whl

# macOS
.DS_Store

# Windows
Thumbs.db
